<header>
    <a href="/"><h1>{{header.title}}</h1></a>
    <nav>
        <ul>
            {{#each header.nav}}
                <li><a href="{{this.url}}">{{this.text}}</a></li>
            {{/each}}
        </ul>
    </nav>
</header>
